<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AdminMain</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <link rel="stylesheet" href="/css/main/Admin/adminMembership.css" />
    <script src="/scripts/adminMembership.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapperside">
        <div class="profileArea">
          <img src="/images/user.png" alt="profile" />
        </div>
        <ul>
          <li>
            <a href="#"><img src="/images/Monitor.svg" alt="admin" /></a>
          </li>
          <li>
            <a href="#"><img src="/images/File text.svg" alt="document" /></a>
          </li>
          <li>
            <a href="#"><img src="/images/Calendar.svg" alt="calendar" /></a>
          </li>
          <li>
            <a href="#"
              ><img src="/images/Message square.svg" alt="message"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="/images/Clipboard.svg" alt="message-board"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="/images/gmail_groups.svg" alt="director"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="/images/Cloud.svg" alt="cloud-computing"
            /></a>
          </li>
          <li>
            <a href="#"><img src="/images/Settings.svg" alt="setting" /></a>
          </li>
        </ul>
      </div>

      <div class="container">
        <header>
          <div class="headerArea">
            <div class="headerlogo">
              <a href="#"><img src="/images/logo.png" alt="J2SMLogo" /></a>
            </div>
            <div class="darkmode">
              <label class="toggle-switch">
                <span class="label-text">DARK MODE</span>
                <input type="checkbox" id="darkModeToggle" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="alert">
              <img src="/images/bell.png" alt="bell" />
            </div>
          </div>
        </header>

        <main>
          <aside>
            <div class="sidemenu">
              <div class="sideTop">
                <h3>Admin</h3>
              </div>
              <div class="sidelink"><a href="#">MemberShip</a></div>
              <div class="childArea">
                <div>
                  <img src="/images/Home.svg" alt="users" />
                  <a href="/view/Admin/adminMain.html">Home</a>
                  <img src="/images/Vector.svg" alt="vector" />
                </div>
                <div>
                  <img src="/images/Users.svg" alt="users" />
                  <a href="/view/Admin/adminEmploy.html">Employee Management</a>
                  <img src="/images/Vector.svg" alt="vector" />
                </div>
                <div>
                  <img src="/images/Users.svg" alt="users" />
                  <a href="/view/Admin/adminMembership.html">MemberShip</a>
                  <img src="/images/Vector.svg" alt="vector" />
                </div>
                <div>
                  <img src="/images/Credit card.svg" alt="users" />
                  <a href="/view/Admin/adminCredit.html">Payment details</a>
                  <img src="/images/Vector.svg" alt="vector" />
                </div>
              </div>
            </div>
          </aside>

          <div class="contentArea">
            <div class="topArea">
              <div class="Title">
                <h3>MemberShip</h3>
              </div>
            </div>

            <div class="midArea">
              <div class="memberShipArea">
                <!-- Basic -->
                <div class="GetStarted" id="basic">
                  <h3>Basic</h3>
                  <p>소규모 팀을 위한 실속형 플랜</p>
                  <del>12,900</del>
                  <h4>9,900</h4>
                  <p>Basic - ₩9,900 /월</p>
                  <button type="button" class="openInviteModalBtn">
                    Get Started</button
                  ><br />
                  <div class="explanation">
                    <span
                      ><img src="/images/Check.svg" alt="check" />일정/할일
                      공유</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />메신저 및
                      공지사항 게시판</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />본 파일 공유
                      및 문서 작성 도구</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />대상 :
                      스타트업, 소규모 조직<br />(3~10인 이하)</span
                    >
                  </div>
                </div>

                <!-- Standard -->
                <div class="GetStarted" id="standard">
                  <h3>Standard</h3>
                  <p>대부분의 기능을 사용할 수 있는 플랜</p>
                  <del>24,900</del>
                  <h4>19,900</h4>
                  <p>Standard - ₩19,900 /월</p>
                  <button type="button" class="openInviteModalBtn">
                    Get Started</button
                  ><br />
                  <div class="explanation">
                    <span
                      ><img src="/images/Check.svg" alt="check" />Basic 기능
                      포함</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />프로젝트
                      관리(칸반/간트차트)</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />외부 캘린더
                      연동(Google/Outlook)</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />문서 공동 작성
                      및 버전 관리</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />관리자
                      대시보드 제공</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />대상 : 일반
                      중소기업, 프로젝트 기반 팀</span
                    >
                  </div>
                </div>

                <!-- Premium -->
                <div class="GetStarted" id="premium">
                  <h3>Premium</h3>
                  <p>대규모 조직을 위한 고급 플랜</p>
                  <del>42,000</del>
                  <h4>34,900</h4>
                  <p>Premium - ₩34,900 /월</p>
                  <button type="button" class="openInviteModalBtn">
                    Get Started</button
                  ><br />
                  <div class="explanation">
                    <span
                      ><img src="/images/Check.svg" alt="check" />Standard 기능
                      포함</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />고급 보안 정책
                      및 사용자 권한 설정</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />커스터마이징
                      가능한 워크플로우</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />연동 API,
                      ERP/CRM 연계</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />전담 고객 지원
                      매니저</span
                    ><br />
                    <span
                      ><img src="/images/Check.svg" alt="check" />대기업, 기관,
                      고보안·고도화된 <br />
                      운영 환경 필요 조직</span
                    >
                  </div>
                </div>
              </div>
              <div class="modalOverlay" id="inviteModal">
                <div class="modalContent">
                  <h3 class="modalinfo">결제 정보</h3>
                  <div class="inside">
                    <div class="leftside">
                      <select>
                        <option>VISA</option>
                        <option>PayPal</option>
                        <option>Master</option>
                      </select>
                      <div class="cardnum">
                        <h3>Card number</h3>
                        <input type="text" /><input type="text" /><input
                          type="text"
                        /><input type="text" />
                      </div>
                      <div class="cardnum">
                        <h3>Expriy date</h3>
                        <input type="text" id="cnum" placeholder="MM/YY" />
                      </div>
                      <div class="cardnum">
                        <h3>CVC</h3>
                        <input type="text" id="cvc" placeholder="CVC" />
                      </div>
                      <div class="cardnum">
                        <h3>Card password</h3>
                        <input type="text" id="cpass" placeholder="Password" />
                      </div>
                    </div>
                    <div class="rightside">
                      <span>Product Name</span>
                      <h3>Standard 구매</h3>
                      <span>Payment amount</span>
                      <h3>₩ 9,900</h3>
                    </div>
                  </div>
                  <div class="modalButtons">
                    <button id="inviteConfirmBtn">결제</button>
                    <button id="inviteCancelBtn">취소</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
