<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>J2SM 비밀번호찾기</title>
    <link rel="stylesheet" href="/css/layer/user/user.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />

    <script>
      function togglePassword() {
      const pw = document.getElementById("password");
      const toggle = document.querySelector(".toggle-password");
      if (pw.type === "password") {
        pw.type = "text";
        toggle.textContent = "🔓";
      } else {
        pw.type = "password";
        toggle.textContent = "🔒";
      }
    }
    </script>
   
  </head>
  <body>
    <div class="container">
      <main>
        <div id="user_page">
          <img src="/images/user/login.jpg" alt="로그인 화면">
          <div id="login_form">
            <img src="/logo.png" alt="로고">
            <div>
              <p class="txt_title">비밀번호찾기</p>
              <form action="#" id="login">
               
                <div class="signUp">

                  <label for="email">이메일</label>
                  <input type="text" name="email" class="m-10" placeholder="이메일을 입력해주세요." required>
  
                  <label for="emailCheck">이메일 인증</label>
                  <input type="text" name="emailCheck" class="m-10" placeholder="인증 번호 입력해주세요." required>
                </div>

                <div class="pass_result">
                  <div class="input_wrap">
                    <label for="pass">새 비밀번호</label>
                    <input type="password" name="pass" id="password" placeholder="비밀번호를 입력하세요" required>
                  </div>

                   <div class="input_wrap">
                    <label for="pass2">비밀번호 확인</label>
                    <input type="password" name="pass2" id="password" placeholder="비밀번호를 입력하세요" required>
                  </div>
                </div>

                <button type="submit" class="login_btn">
                      비밀번호 찾기
                </button>

 
              </form>
              


            </div>
            

          
          </div>
            
        </div>
      </main>
  </body>
</html>
