<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <!-- Pretendard Font -->
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <link rel="stylesheet" href="/css/main/dashboard/dashboardMain.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header></header>
        <main></main>
        <footer></footer>
      </div>
    </div>
  </body>
</html>
