<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <link rel="stylesheet" href="/css/main/dashboard/dashboardMain.css" />

    <script src="/scripts/dashboardMain.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapperside">
        <div class="profileArea">
          <img src="/images/user.png" alt="profile" />
        </div>
        <ul>
          <li>
            <a href="/view/dashboard/dashboardMain.html"
              ><img src="/images/Grid.svg" alt="dashboard"
            /></a>
          </li>
          <li>
            <a href="/view/MyPage/MyPage.html"
              ><img src="/images/File text.svg" alt="document"
            /></a>
          </li>
          <li>
            <a href="/view/Calendar/calendar.html"
              ><img src="/images/Calendar.svg" alt="calendar"
            /></a>
          </li>
          <li>
            <a href="/view/Chatting/Chatting.html"
              ><img src="/images/Message square.svg" alt="message"
            /></a>
          </li>
          <li>
            <a href="/view/Board/board.html"
              ><img src="/images/Clipboard.svg" alt="message-board"
            /></a>
          </li>
          <li>
            <a href="/view/Project/Project.html"
              ><img src="/images/gmail_groups.svg" alt="director"
            /></a>
          </li>
          <li>
            <a href="/view/Cloud/cloudhome.html"
              ><img src="/images/Cloud.svg" alt="cloud-computing"
            /></a>
          </li>
          <li>
            <a href="/view/Setting/Setting.html"
              ><img src="/images/Settings.svg" alt="setting"
            /></a>
          </li>
        </ul>
      </div>
      <div class="container">
        <header>
          <div class="headerArea">
            <div class="headerlogo">
              <a href="#"><img src="/images/logo.png" alt="J2SMLogo" /></a>
            </div>
            <div class="darkmode">
              <label class="toggle-switch">
                <span class="label-text">DARK MODE</span>
                <input type="checkbox" id="darkModeToggle" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="alert">
              <img src="/images/bell.png" alt="bell" />
            </div>
          </div>
        </header>
        <main>
          <aside>
            <div class="sidemenu">
              <div class="sideTop">
                <h3>DashBoard</h3>
              </div>
              <a href="#">Home</a>
            </div>
          </aside>
          <div class="contentArea">
            <div class="topArea">
              <div class="mainProfile">
                <h3>Personal Details</h3>
                <div class="infoArea">
                  <div class="photoBox">
                    <div class="photoPlaceholder"></div>
                    <button class="verifyBtn">Verification Photo</button>
                  </div>
                  <ul class="detailList">
                    <li><strong>Name:</strong>정상수</li>
                    <li><strong>Position:</strong> Manager</li>
                    <li>
                      <div class="attendanceArea">
                        <div class="currentTime" id="currentTime">--:--:--</div>
                        <div class="btnGroup">
                          <button class="workBtn" id="checkInBtn">출근</button>
                          <button class="workBtn" id="checkOutBtn">퇴근</button>
                        </div>
                        <div class="statusMessage" id="statusMessage"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="scheduleArea">
                <h3>Schedule</h3>
                <div class="scheduleinfo">
                  <table class="scheduleTable">
                    <tbody>
                      <tr>
                        <td>오늘<br />5월 27일</td>
                        <td>
                          오전 9시 사무실<br /><strong>짧은 팀 회의</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>오늘<br />5월 27일</td>
                        <td>
                          오전 9시 사무실<br /><strong>짧은 팀 회의</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>오늘<br />5월 27일</td>
                        <td>
                          오전 9시 사무실<br /><strong>짧은 팀 회의</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>오늘<br />5월 27일</td>
                        <td>
                          오전 9시 사무실<br /><strong>짧은 팀 회의</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="midArea">
              <div class="recentArea">
                <div class="titleArea">
                  <h3>Recent Visits</h3>
                </div>
                <div class="visitSlider">
                  <div class="visitArea" id="visitArea">
                    <!-- 반복되는 카드만 출력하는 영역 -->
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                    <div class="visitPageCard">
                      <a href=""><img src="/images/File.svg" alt="icon" /></a>
                      <p>새 페이지</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottomArea">
              <div class="projectArea">
                <h3>Project</h3>
                <div class="projectList">
                  <ul>
                    <li>
                      <a href=""
                        ><div class="projectContent">제목제에에에에목</div></a
                      >
                    </li>
                    <li>
                      <a href=""
                        ><div class="projectContent">제목제에에에에목</div></a
                      >
                    </li>
                    <li>
                      <a href=""
                        ><div class="projectContent">제목제에에에에목</div></a
                      >
                    </li>
                    <li>
                      <a href=""
                        ><div class="projectContent">제목제에에에에목</div></a
                      >
                    </li>
                    <li>
                      <a href=""
                        ><div class="projectContent">제목제에에에에목</div></a
                      >
                    </li>
                    <li>
                      <a href=""
                        ><div class="projectContent">제목제에에에에목</div></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="calendarArea">
                <h3>Calendar</h3>
                <div class="calendarWrapper">
                  <input id="miniCalendar" type="text" />

                  <div class="scheduleInfoBox">
                    <p><strong>6월 2일</strong></p>
                    <ul>
                      <li>10:00 회의</li>
                      <li>14:00 코드리뷰</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer></footer>
      </div>
    </div>
  </body>
</html>
