* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 16px;
  color: #333;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

#header_main {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  border-bottom: 1px solid #ceceea;
}

#header_logo {
  width: 250px;
  height: 40;
  float: left;
  border: 1px solid #ceceea;
  border-radius: 15px;
  padding: 10px;
}

#header_logo div {
  float: left;
  width: 50%;
}

#header_logo div:nth-child(2) {
  border-left: 1px solid #ceceea;
  padding-left: 10px;
  height: 40px;
}

header nav {
  border: 1px solid #ceceea;
  border-radius: 15px;
}

#header_logo span {
  margin-top: 5px;
  font-size: 10px;
  color: #272a31;
  display: inline-block;
}

#header_logo img {
  float: left;
  width: 80px;
  height: 40px;
}

#header_logo img:nth-child(1) {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

#header_main nav {
  float: left;
}

.header_contact {
  width: 150px;
  height: 100%;
  float: right;
  border: 1px solid #ceceea;
  border-radius: 15px;
  text-align: center;
}

.header_contact span {
  display: inline-block;
  margin-top: 15px;
}

#contact_btn {
  margin-right: 20px;
}

#header_right {
  float: right;
  margin-top: 10px;
}

main {
  width: 1200px;
  height: auto;
  min-height: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.buy_form_1 {
  margin: 0 auto;
  width: 400px;
  height: auto;
  min-height: 600px;
  border: 1px solid black;
}

.buy_form_2 {
  margin: 0 auto;
  width: 600px;
  height: auto;
  min-height: 600px;
  border: 1px solid black;
}

.buy_form_3 {
  margin-top: 60px;
  width: 100%;
  height: auto;
  min-height: 600px;
  border: 1px solid black;
}
