.icon-wrapper {
  position: relative;
  display: inline-block;
}

.dot-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  z-index: 5;
}
